extends layout

block content
  if user  
    h1 Welcome back #{user.username}
    a(href='/users/log-out') Log Out
  else 
    form(method='POST' action='/users/login')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='email', placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username) )
      br
      label(for='password') Password:
      input#password.form-control(type='password', placeholder='Password' name='password' required='true' value=(undefined===user ? '' : user.password))
    button.btn.btn-primary(type='submit') Submit